.toggle-mode-container {
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.toggle-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #414141fd;
  position: absolute;
  right: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .toggle-mode-container {
    width: 3.1rem;
    height: 1.5rem;
    right: 8px;
  }
  .toggle-icon {
    width: 1rem;
    height: 1rem;
  }
  .toggle-button {
    width: 1.5rem;
    height: 1.5rem;
  }
}
