.header-container {
  display: flex;
  height: 100vh;
}
.header-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right {
  flex: 1;
  position: relative;
}
.header-left-wrapper {
  padding: 5rem;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-title {
  font-size: 2.2rem;
  font-weight: 300;
}
.header-decription {
  font-size: 1.2rem;
}
.header-name {
  font-size: 4rem;
}
.header-roles {
  height: 3rem;
  overflow: hidden;
}
.header-role-item {
  height: 2.7rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(21, 75, 250);
  display: flex;
  align-items: center;
}
.header-roles-wrapper {
  height: 100%;
  animation: moveTitleItem 6s ease-in-out infinite alternate;
}
.header-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.header-img-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #6554ff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.header-scroll {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 1.5rem;
  cursor: pointer;
}

@keyframes moveTitleItem {
  50% {
    transform: translateY(-2.7rem);
  }
  100% {
    transform: translateY(-5.2rem);
  }
}
