.project-container {
  position: relative;
  width: 48%;
  height: 54vh;
  margin: 1.2rem 0;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.p-browser {
  height: 2.2rem;
  background-color: rgb(209, 207, 207);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-browser:nth-child(1) {
  padding-left: 0.4rem;
}

.p-circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0.2rem;
}
.p-circle.first {
  background-color: #f76057;
}
.p-circle.second {
  background-color: #fabe2c;
}
.p-circle.third {
  background-color: #29ca40;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.project-container:hover .project_1 {
  transform: translateY(-78%);
}
.project-container:hover .project_2 {
  transform: translateY(-78%);
}
.project-container:hover .project_3 {
  transform: translateY(-81%);
}
.project-container:hover .project_4 {
  transform: translateY(-40%);
}
.project-container:hover .project_5 {
  transform: translateY(-2%);
}
.project-container:hover .project_6 {
  transform: translateY(-11%);
}
.github-link {
  position: absolute;
  bottom: -1px;
  left: 92.5%;
  transform: translateX(-50%);
  z-index: 1;
  text-decoration: none;
}

.github-icon {
  margin-top: 4px;
  width: 5rem;
  height: 5rem;
  border: none;
}
.icon-wrapper {
  transition: 0.4s;
}
.icon-wrapper:hover {
  transform: scale(1.2);
}
.p-text {
  color: rgb(192, 192, 192);
  font-size: 1.2rem;
}

@media screen and (max-width: 1280px) {
  .project-container {
    width: 70%;
    height: 60vh;
    margin: 1rem auto;
  }
  .project-container:hover .project_1,
  .project-container:hover .project_2,
  .project-container:hover .project_3,
  .project-container:hover .project_4,
  .project-container:hover .project_5,
  .project-container:hover .project_6 {
    transform: none;
  }
  .github-icon {
    width: 4rem;
    height: 4rem;
  }
  .icon-wrapper:hover {
    transform: none;
  }
  .p-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .project-container {
    height: 35vh;
    width: 80%;
    margin: 1rem auto;
  }
  .github-link {
    left: 90.5%;
    bottom: -2px;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .project-container {
    height: 60vh;
    width: 80%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 480px) {
  .project-container {
    height: 30vh;
    width: 88%;
  }
  .project-container:nth-of-type(5),
  .project-container:nth-of-type(6) {
    height: 27vh;
  }
  .github-icon {
    width: 2.7rem;
    height: 2.7rem;
  }
  .p-text {
    font-size: 0.7rem;
  }
}
