.contact-container {
  min-height: 50vh;
  position: relative;
  padding-bottom: 1rem;
}

.c-bg {
  width: 2rem;
  height: 100%;
  background-color: rgb(102, 67, 228);
  position: absolute;
}

.c-wrapper {
  padding: 3rem;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-title {
  font-size: 2.7rem;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 2.3rem 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 1.4rem;
}

.c-desc {
  font-weight: 200;
  font-size: 1.3rem;
}

form {
  margin-top: 1.8rem;
}

input {
  width: 100%;
  height: 3.5rem;
  border: none;
  border-bottom: 1px solid black;
  margin: 1rem 0px;
  font-size: 1rem;
  padding-left: 10px;
}

textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem 0px;
  font-size: 1rem;
  padding: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.74);
  border-radius: 3px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  background-color: rgb(102, 67, 228);
  color: #dfdfdf;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(85, 53, 201);
}

@media screen and (max-width: 1200px) {
  .c-title {
    font-size: 2.4rem;
    width: 80%;
  }
  .c-desc {
    font-size: 0.93rem;
  }
  .c-info {
    font-size: 0.9rem;
  }
  input {
    width: 85%;
    font-size: 0.8rem;
  }

  textarea {
    width: 85%;
    font-size: 0.8rem;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 3rem;
  }
  .c-title {
    font-size: 2rem;
  }
  .c-desc {
    font-size: 1rem;
  }
  input {
    width: 90%;
    height: 2.5rem;
    margin: 0.6rem 0px;
    font-size: 0.7rem;
  }

  textarea {
    width: 90%;
    margin: 1rem 0px;
    font-size: 0.7rem;
    padding: 0.7rem;
  }
  button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .c-title {
    font-size: 1.8rem;
  }
  .c-info {
    font-size: 0.8rem;
  }
  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
